.App {
  text-align: center;
}

.App-body {
  width: 90%;
  margin: 0 auto;
}

.App-header {
  display: block;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px 20px 40px 20px;
  border-radius: 5px;
  background-color: white;
}

.page-number {
  font-size: large;
  padding: 20px;
}


.link {
  text-decoration: none;
  color: black
 }

.social-signin {
  width: 200px;
  height: 50px;
}

.sign-up-img{
  width: 200px;
  height: 50px;
}

.image-dropzone-area {
  height: 300px;
  line-height: 300px;
  background-color: #f0f0f0;
  border: 1px dashed #8b8b8b;
  padding: 10px;
  cursor: pointer;
}

.image-dropzone-area:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.image-dropzone-area p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.error {
  color: #d33031;
}